{% extends 'base.html' %}

{% block content %}
<div class="centerstage">
  <h1>All Fillups</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Date</th>
        <th>Car</th>
        <th>Price (per gallon)</th>
        <th>Trip Distance</th>
        <th>Gallons Filled</th>
        <th>Total Sale</th>
        <th>MPG</th>
      </tr>
    </thead>
    <tbody>
      {% for fillup in all_fillup_list %}
        <div class="fillup">
          <tr>
            <td>{{ fillup.username }}</td>
            <td>{{ fillup.date|date:"d M Y"}}</td>
            <td>{{ fillup.car }}</td>
            <td>{{ fillup.price_per_gallon }}</td>
            <td>{{ fillup.trip_distance }}</td>
            <td>{{ fillup.gallons }}</td>
            <td>{{ fillup.total_sale }}</td>
            <td>{{ fillup.mpg }}</td>
          </tr>
        </div>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
