{% extends 'base.html' %}

{% block content %}
<div class="centerstage">
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Car Name</th>
        <th>Make</th>
        <th>Model</th>
        <th>Model Year</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for car in car_list %}
        <tr>
          <div class="car">
            <td>{{ car.username }}</td>
            <td>{{ car.name }}</td>
            <td>{{ car.make }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.model_year }}</td>
            <td>{{ car.status }}</td>
          </div>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
