{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <h1>{{ profile_name }}'s Profile Overview</h1>

  <h3>Stats</h3>
  <a href="{% url 'fillups:user_stats' username=profile_name %}">See all of {{ profile_name }}'s stats</a>

  <p><strong>Number of Cars Owned:</strong> {{ stats.total_cars }}</p>
  <p><strong>Number of Fillups Made:</strong> {{ stats.total_fillups }}</p>
  <p><strong>Total Distance Driven:</strong> {{ stats.total_distance.trip_distance__sum }}</p>
  <p><strong>Total Gallons Filled:</strong> {{ stats.total_gallons.total_gallons }}</p>
  <p><strong>Average Price per Gallon:</strong> {{ stats.avg_price.avg_price }}</p>
  <p><strong>Total $ Spent:</strong> {{ stats.total_spent }}</p>
  <p><strong>Average Miles per Gallon:</strong> {{ stats.avg_mpg }}</p>


  <br>
  <h3>Active Cars</h3>
  <a href="{% url 'fillups:user_car_list' username=profile_name %}">See all of {{ profile_name }}'s cars</a>
  <table class="table">
    <thead>
      <tr>
        <th>Car Name</th>
        <th>Make</th>
        <th>Model</th>
        <th>Model Year</th>
        <th>Status</th>
        {% if profile_name == user.username %}
          <th></th>
          <th></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for car in active_cars %}
        <div class="car">
          <tr>
            <td>{{ car.name }}</td>
            <td>{{ car.make }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.model_year }}</td>
            <td>{{ car.status }}</td>
            {% if profile_name == user.username %}
              <td><a class="btn btn-secondary" href="{% url 'fillups:update_car' username=profile_name pk=car.pk %}">Edit</a></td>
              <td><a class="btn btn-danger" href="{% url 'fillups:delete_car' username=profile_name pk=car.pk %}">Delete</a></td>
            {% endif %}
          </tr>
        </div>
      {% endfor %}
    </tbody>
  </table>

  <br>
  <h3>Last 10 Fillups</h3>
  <a href="{% url 'fillups:user_fillup_list' username=profile_name %}">See all of {{ profile_name }}'s fillups</a>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Car</th>
        <th>Price (per gallon)</th>
        <th>Trip Distance</th>
        <th>Gallons Filled</th>
        <th>Total Sale</th>
        <th>MPG</th>
        {% if profile_name == user.username %}
          <th></th>
          <th></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for fillup in last_10_fillups %}
        <div class="fillup">
          <tr>
            <td>{{ fillup.date|date:"d M Y"}}</td>
            <td>{{ fillup.car }}</td>
            <td>{{ fillup.price_per_gallon }}</td>
            <td>{{ fillup.trip_distance }}</td>
            <td>{{ fillup.gallons }}</td>
            <td>{{ fillup.total_sale }}</td>
            <td>{{ fillup.mpg }}</td>
            {% if profile_name == user.username %}
              <td><a class="btn btn-secondary" href="{% url 'fillups:update_fillup' username=profile_name pk=fillup.pk %}">Edit</a></td>
              <td><a class="btn btn-danger" href="{% url 'fillups:delete_fillup' username=profile_name pk=fillup.pk %}">Delete</a></td>
            {% endif %}
          </tr>
        </div>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
