{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <h1>{{ profile_name }}'s Profile</h1>
  <nav class="nav nav-tabs nav-fill">
    <a class="nav-item nav-link" href="{% url 'fillups:user_profile' username=profile_name %}">Overview</a>
    <a class="nav-item nav-link active" href="{% url 'fillups:user_stats' username=profile_name %}">Stats</a>
    <a class="nav-item nav-link" href="{% url 'fillups:user_fillup_list' username=profile_name %}">Fillups</a>
    <a class="nav-item nav-link" href="{% url 'fillups:user_car_list' username=profile_name %}">Cars</a>
  </nav>
  <br>

  <h2>There is nothing here right now</h2>

  <h3>Deal with it</h3>

{% endblock %}
