{% extends 'base.html' %}

{% block content %}
<div class="centerstage">
  <h1>My Cars</h1>
  <a id="add_car" href="{% url 'fillups:new_car' %}">Register new car</a>
  <br>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Car Name</th>
        <th>Make</th>
        <th>Model</th>
        <th>Model Year</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for car in user_car_list %}
        <div class="car">
          <tr>
            <td>{{ car.name }}</td>
            <td>{{ car.make }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.model_year }}</td>
            <td>{{ car.status }}</td>
            <td><a class="btn btn-secondary" href="{% url 'fillups:update_car' username=user.username pk=car.pk %}">Edit</a></td>
            <td><a class="btn btn-danger" href="{% url 'fillups:delete_car' username=user.username pk=car.pk %}">Delete</a></td>
          </tr>
        </div>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
